<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>  
    <title>Student</title>
</head>
<body>
    <div class="container_fluid container" id="quiz"></div></br>
    <div class="container" id="buttons">
        <button class="btn btn-success" onclick="verify()" id='submitButton'>Submit</button>
        <button class="btn primary"onclick="location.href='/'" id="backButton">Back</button>
        <script src="/js/student.js"></script> 
    </div>
</body>
</html>